ACCOUNT_1-TG_RAW_DATA=
ACCOUNT_1-USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko)"

MIN_MINING_AMOUNT=0.25

REFFERER_URL=https://pocketfi.app/
API_ROOT_URL=https://bot.pocketfi.org

SHOW_LOGS_MESSAGES=1

CONTINUOUS_RUN_MODE=0
CONTINUOUS_RUN_MODE_TIMEOUT_MINS=20,30