TG_RAW_DATA=
MIN_MINING_AMOUNT=0.25

REFFERER_URL=https://pocketfi.app/
API_ROOT_URL=https://bot.pocketfi.org
USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko)"